<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562441998826-etu6fss1c9qq6l4uut9m8j5q43900g9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562441998826-etu6fss1c9qq6l4uut9m8j5q43900g9e</string>
	<key>API_KEY</key>
	<string>AIzaSyA7emuUDmvjz_rbqwC6wnku6GowKemCRoM</string>
	<key>GCM_SENDER_ID</key>
	<string>562441998826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jogrinc.MAS21-FirstProgrammingAssignment</string>
	<key>PROJECT_ID</key>
	<string>mobileapps-1pa</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapps-1pa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562441998826:ios:5ec2e97b9a886587de2293</string>
</dict>
</plist>